/* Variables for colors and font family */
:root {
    --main-font: 'Montserrat', sans-serif;
    --main-color: hsl(158, 36%, 37%);
    --background-color: hsl(30, 38%, 92%);
    --border: 1px solid #dddddd00;
    --secondary-color: grey;
    --tertiary-color: white;
    --main-font-weight: 500;
}

html {
    font-size: 1.5vw;
}

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--background-color);
    font-family: var(--main-font);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 75vw;
    display: flex;
    flex-direction: row;
}

.image-section {
    max-width: 50%;
    flex: 0 0 50%;
    /* Makes it always occupy 50% width of the container */
}

.image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: var(--border);
    border-radius: 16px 0 0 16px;
    /* Ensures the image covers the entire space */
}

.content-section {
    max-width: 50%;
    flex: 0 0 50%;
    /* Makes it always occupy 50% width of the container */
    display: flex;
    flex-direction: column;
    background-color: var(--tertiary-color);
    padding: 1rem;
    border: var(--border);
    border-radius: 0 16px 16px 0;
    /* Shorter form for equal padding on all sides */
}

.item-category {
    font-weight: var(--main-font-weight);
    color: var(--secondary-color);
    font-size: 1.2rem;
    letter-spacing: 2px;
}

.item-price,
.item-title {
    font-family: 'Fraunces', serif;
    font-size: 2.7rem;
}

.item-title {
    line-height: 0.85;
    padding: 0;
}

.item-description {
    font-weight: var(--main-font-weight);
    line-height: 1.75rem;
    color: var(--secondary-color);
}

.item-price {
    color: var(--main-color);
    margin: 1em 0;
    /* Use em units instead of % for more consistent spacing */
}

.item-discount {
    font-size: 1.2rem;
    padding-left: 1.5rem;
    font-weight: var(--main-font-weight);
    align-self: center;
    color: var(--secondary-color);
    text-decoration: line-through;
    font-family: var(--main-font);
}


.item-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    /* Allows button to take remaining space */
}

/* Button styling */
.btn {
    background-color: var(--main-color);
    border: 0;
    width: 100%;
    padding: 1em;
    border-radius: 8px;
    /* Use em units instead of px for scalable padding */
    color: var(--tertiary-color);
    font-size: 1.2rem;
    font-weight: 700;
    font-family: var(--main-font);
}

.btn:hover {
    cursor: pointer;
    background-color: hsl(158, 36%, 20%);
}

@media (min-width: 1800px) {
    html {
        font-size: 1.3rem
    }

    .container {
        width: 55vw;
    }
}

@media (max-width: 600px) {

    body {
        display: flex;
        align-items: flex-start;
    }

    .container {
        flex-direction: column;
        width: 90vw;
    }

    .image-section {
        max-width: 100%;
    }

    .image-section img {
        max-height: 35vh;
        border-radius: 16px 16px 0px 0px;
    }

    .content-section {
        max-width: 100%;
        padding: 2.5rem;
        border-radius: 0px 0px 16px 16px;
    }

    .item-category {
        font-size: 2rem;
    }

    .item-price,
    .item-title {
        font-size: 5.5rem;
    }

    .item-title {
        line-height: 0.85;
    }

    .item-description {
        font-size: 2.5rem;
        line-height: 3.5rem;

    }


    .item-discount {
        font-size: 2rem;
        padding-left: 2.5rem;
    }

    .btn {
        font-size: 2.75rem;
        padding: 0.85em;
    }
}